[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/luacpp"]
	path = libs/luacpp
	url = https://github.com/ouonline/luacpp
[submodule "avir"]
	path = avir
	url = https://github.com/avaneev/avir
[submodule "libs/avir"]
	path = libs/avir
	url = https://github.com/avaneev/avir
[submodule "libs/zlib-ng"]
	path = libs/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "libs/libpng"]
	path = libs/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
